{<<"links">>,
 [{<<"Changelog">>,
   <<"https://github.com/code-of-kai/rig/blob/main/CHANGELOG.md">>},
  {<<"GitHub">>,<<"https://github.com/code-of-kai/rig">>}]}.
{<<"name">>,<<"rig_fsm">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<80,117,114,101,32,115,116,97,116,101,32,109,97,99,104,105,110,101,115,32,
   102,111,114,32,69,108,105,120,105,114,32,226,128,148,32,116,101,115,116,97,
   98,108,101,32,100,97,116,97,32,115,116,114,117,99,116,117,114,101,115,32,
   102,105,114,115,116,44,32,111,112,116,105,111,110,97,108,32,103,101,110,95,
   115,116,97,116,101,109,32,112,114,111,99,101,115,115,32,97,100,97,112,116,
   101,114>>}.
{<<"elixir">>,<<"~> 1.15">>}.
{<<"app">>,<<"rig">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/rig.ex">>,<<"lib/rig">>,<<"lib/rig/stopped_error.ex">>,
  <<"lib/rig/server.ex">>,<<"lib/rig/machine.ex">>,<<"lib/rig/examples.ex">>,
  <<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>,<<"DESIGN.md">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"telemetry">>},
   {<<"app">>,<<"telemetry">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
